.App {
  text-align: center;
  background-color: #202020;
  min-height: 100vh;
}

.App-header {
  background-color: #363636;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000000;
}

.ProjectCard {
  color: white;
  background-color: #505050;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.GitHub-link {
  color: white;
  position: absolute;
  right: 10px;
  padding: 10px;
}

.Project-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
